.stgit*
*~
*.o
*.a
*.bc
*.s

/cm4all-qrelay

*.cache
build
libtool
*.log
*.status
Makefile
Makefile.in
configure
aclocal.m4
.libs
.deps
.dirstamp
perf.data
perf.data.old
confdefs.h

debian/stamp-*
debian/*.substvars
debian/*.debhelper
debian/files
debian/cm4all-qrelay
debian/cm4all-qrelay-dbg
debian/cm4all-qrelay-doc
