[Unit]
Description=CM4all QMQP relay daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=cm4all-qrelay
ExecStart=/usr/sbin/cm4all-qrelay

CPUSchedulingPolicy=batch

# enable crash dumps
LimitCORE=infinity

# Resource limits
MemoryMax=1G
TasksMax=16
LimitNOFILE=16384

# Paranoid security settings
NoNewPrivileges=yes
ProtectSystem=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
