[Unit]
Description=CM4all QMQP relay daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=cm4all-qrelay
ExecStart=/usr/sbin/cm4all-qrelay
ExecReload=/bin/kill -HUP $MAINPID

WatchdogSec=2m

CPUSchedulingPolicy=batch

# This allows the kernel to merge CPU wakeups, the default of 50ns is
# too fine.
TimerSlackNSec=10ms

# Resource limits
MemoryMax=1G
TasksMax=16
LimitNOFILE=16384

# Paranoid security settings
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
