Source: cm4all-qrelay
Section: mail
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 13.3~),
 meson (>= 1.2),
 g++ (>= 4:12),
 libc6-dev (>= 2.13),
 libfmt-dev (>= 9),
 libsodium-dev (>= 1.0.16),
 libsystemd-dev,
 libpq-dev,
 libluajit-5.1-dev,
 pkg-config,
 python3-sphinx
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/qrelay
Vcs-Git: git://github.com/CM4all/qrelay

Package: cm4all-qrelay
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, systemd-sysv
Description: QMQP relay daemon
 qrelay is a daemon that accepts QMQP on a UNIX domain socket and
 relays it to another QMQP daemon.

Package: cm4all-qrelay-doc
Section: doc
Architecture: all
Built-Using: ${sphinxdoc:Built-Using}
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: QMQP relay daemon, documentation
 qrelay is a daemon that accepts QMQP on a UNIX domain socket and
 relays it to another QMQP daemon.
 .
 This package contains documentation.
