Source: cm4all-qrelay
Section: non-free/mail
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 12~), dh-systemd,
 meson (>= 0.47),
 g++ (>= 4:8),
 libc6-dev (>= 2.13),
 libboost-dev (>= 1.62),
 libsystemd-dev,
 libluajit-5.1-dev,
 python3-sphinx
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/qrelay
Vcs-Git: git://github.com/CM4all/qrelay

Package: cm4all-qrelay
Architecture: any
Depends: ${shlibs:Depends}, systemd-sysv, adduser
Description: QMQP relay daemon
 qrelay is a daemon that accepts QMQP on a UNIX domain socket and
 relays it to another QMQP daemon.

Package: cm4all-qrelay-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: QMQP relay daemon, documentation
 qrelay is a daemon that accepts QMQP on a UNIX domain socket and
 relays it to another QMQP daemon.
 .
 This package contains documentation.
